**/model.json
**/release-model.json
**/release-data.json
**/*.json.groupid
**/*.json.project
**/*.json.application
**/*.json.release
**/export-*.dsl
**/export-*.gdsl
CommonPipeline/artifacts
MultiEnvironmentInventory/Unplug/
**/*.log